.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 10px;
}
.logo{
    width:100px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px; 
    font-size: 24px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card {
    margin: 5px;
    padding:5px;
    width: 200px;
    height: 300px;
    border:1px solid black;
}
.search{
    padding:10px;  
}
.res-logo{
    width: 100%;
}
.res-card{
    font-size: 13px;
    background-color: #f0f0f0;
}